In [1]:
import os
import json
import pandas as pd

In [5]:
# file_path = '../Yang2017_WikiSemanticIntention/edit_intention_dataset_processed.csv'
file_path = '../SWiPE/processed_swipe_data.json'
# file_path = '../NewsEdits/data/newsedits_edits_pairs.csv'
# file_path = '../arXivEdits/data/edits/edits_processed.csv'
# Step 1: Verify the file path
if not os.path.exists(file_path):
    print("File not found:", file_path)
else:
    print("File found:", file_path)

df = pd.read_json(file_path)
# df = pd.read_csv(file_path)

# Drop a column (e.g., 'column2')
# df = df.drop('Unnamed: 0', axis=1)
df

File found: ../SWiPE/processed_swipe_data.json

,before_context,after_context,before_sentence,after_sentence,before,after,before_diff_span_range,after_diff_span_range,before_sentence_token_range,after_sentence_token_range,label
0,Tsitsernakaberd (Armenian: Ծիծեռնակաբերդ) is a...,Tsitsernakaberd (Armenian: Ծիծեռնակաբերդ) is a...,Tsitsernakaberd(Armenian: Ծիծեռնակաբերդ) is a ...,Tsitsernakaberd(Armenian: Ծիծեռնակաբերդ) is a ...,dedicated to the,for,"[8, 11]","[8, 9]","[0, 26]","[0, 24]",lexical_generic
1,Tsitsernakaberd (Armenian: Ծիծեռնակաբերդ) is a...,Tsitsernakaberd (Armenian: Ծիծեռնակաբերդ) is a...,The 44 meter stele symbolizes the national reb...,,The 44 meter stele symbolizes the national reb...,,"[130, 338]","[128, 128]","[130, 360]","[128, 128]",semantic_deletion
2,"David Oppegaard (born in Lake Crystal, Minneso...","David Oppegaard (Lake Crystal, Minnesota) is a...","David Oppegaard(born in Lake Crystal, Minnesot...","David Oppegaard(Lake Crystal, Minnesota) is a U.",(born in Lake,(Lake,"[2, 5]","[2, 3]","[0, 14]","[0, 11]",lexical_generic
3,"David Oppegaard (born in Lake Crystal, Minneso...","David Oppegaard (Lake Crystal, Minnesota) is a...","David Oppegaard(born in Lake Crystal, Minnesot...","David Oppegaard(Lake Crystal, Minnesota) is a ...",an American,a U. S.,"[10, 12]","[8, 12]","[0, 14]","[0, 13]",lexical_generic
4,"David Oppegaard (born in Lake Crystal, Minneso...","David Oppegaard (Lake Crystal, Minnesota) is a...","In 2008, Oppegaard wrote The Suicide Collectors.",In 2008 wrote The Suicide Collectors as his fi...,", Oppegaard",,"[16, 18]","[16, 16]","[14, 23]","[15, 26]",syntactic_deletion
...,...,...,...,...,...,...,...,...,...,...,...
34956,"Friedrich Dürrenmatt (January 5, 1921 - Decemb...",Friedrich Dürrenmatt (January 5th 1921 in Kono...,"Friedrich Dürrenmatt(January 5, 1921 - Decembe...",Friedrich Dürrenmatt(January 5th 1921 in Konol...,dramatist,,"[15, 16]","[21, 21]","[0, 19]","[0, 23]",semantic_deletion
34957,"Friedrich Dürrenmatt (January 5, 1921 - Decemb...",Friedrich Dürrenmatt (January 5th 1921 in Kono...,He was born in Konolfingen near Bern. He wrote...,Friedrich Dürrenmatt(January 5th 1921 in Konol...,"He wrote mainly avant-garde dramas, philosoph...",,"[24, 96]","[22, 22]","[19, 108]","[0, 23]",semantic_deletion
34958,The French and Britis h had co mmitted themsel...,'ellie smells'ellie smells\nellie smells\nelli...,,,,'ellie smells'ellie smells ellie smells ellie ...,"[0, 0]","[0, 917]","[0, 0]","[0, 0]",nonsim_general
34959,The French and Britis h had co mmitted themsel...,'ellie smells'ellie smells\nellie smells\nelli...,The French and Britis h had co mmitted themsel...,,The French and Britis h had co mmitted themsel...,v,"[0, 1038]","[917, 918]","[0, 1067]","[0, 0]",nonsim_noise_deletion
34960,The French and Britis h had co mmitted themsel...,'ellie smells'ellie smells\nellie smells\nelli...,Th e B r i t is h t r o o p s o n t h e S o m ...,,The battle is notable for the importance of a...,,"[1038, 1159]","[918, 918]","[866, 1186]","[0, 0]",semantic_deletion

In [6]:
repo="Wiki_pure"
n_sampels_pilot_study=7
n_sampels_pilot_study_list=[3, 2, 2]
n_samples_comparing_group=52
random_seed=41
group_by=['label']

# repo="Wiki_code"
# n_sampels_pilot_study=15 # 5 samples per category over 14 categories
# n_sampels_pilot_study_list=[5, 5, 5]
# n_samples_comparing_group=77
# random_seed=41
# group_by=['label']

# repo="NewsEdits"
# n_sampels_pilot_study=100
# n_sampels_pilot_study_list=[30, 35, 35]
# n_samples_comparing_group=1000
# random_seed=41
# group_by=None

# repo="arXivEdits"
# n_sampels_pilot_study=15
# n_sampels_pilot_study_list=[5, 5, 5]
# n_samples_comparing_group=165
# random_seed=41
# group_by=['label']

In [7]:
# Define the sampling function
def sample_data(group, n=1, random_state=42):
    return group.sample(n=min(len(group), n), random_state=random_state)

# Sample n rows per 'domain' and 'label' combination with a random seed
if group_by is not None:
    sampled_df = df.groupby(group_by).apply(sample_data, n=n_sampels_pilot_study, random_state=random_seed).reset_index(drop=True)
else:
    sampled_df = df.sample(n=n_sampels_pilot_study, random_state=random_seed)

# Display the sampled DataFrame
sampled_df

,before_context,after_context,before_sentence,after_sentence,before,after,before_diff_span_range,after_diff_span_range,before_sentence_token_range,after_sentence_token_range,label
0,"William Leonard Roberts II (born January 28, 1...","William Roberts Leonard II, better known by th...","William Leonard Roberts II(born January 28, 19...",He is the founder of Maybach Music Group.,Rick Ross founded,He is,"[23, 26]","[19, 21]","[0, 63]","[19, 28]",discourse_anaphora_insertion
1,Year 46 (XLVI) was a common year starting on S...,46 is a year in the 1st century. It was a comm...,Year 46(XLVI) was a common year starting on Sa...,46 is a year in the 1st century. It was a comm...,,It,"[2, 2]","[8, 10]","[0, 23]","[0, 22]",discourse_anaphora_insertion
2,Gudrun Pausewang (born 3 March 1928 in Mladkov...,Gudrun Pausewang (born 3 March 1928) is a Germ...,Gudrun Pausewang was born in Eastern Bohemia o...,"She was born in Mladkov, Germany.",Gudrun Pausewang,She,"[36, 38]","[34, 35]","[36, 47]","[34, 42]",discourse_anaphora_insertion
3,Chopsticks are shaped pairs of equal-length st...,Chopsticks are sticks used in pairs as cutlery...,"First used by the Chinese, chopsticks later sp...","They can be made of wood, gold, silver, ivory,...",Chopsticks are smoothed and frequently tapered...,They can be,"[80, 89]","[30, 33]","[27, 107]","[30, 48]",discourse_anaphora_insertion
4,"Psi (/ˈpsaɪ/ or /ˈsaɪ/; uppercase Ψ, lowercase...","Psi (uppercase/lowercase Ψ ψ), is the letter o...","Psi(/ˈpsaɪ/ or /ˈsaɪ/; uppercase Ψ, lowercase ...","Psi(uppercase/lowercase Ψ ψ), is the letter of...",,Modern Greek.,"[26, 26]","[22, 24]","[0, 37]","[0, 28]",discourse_anaphora_insertion
...,...,...,...,...,...,...,...,...,...,...,...
128,The Amor asteroids are a group of near-Earth a...,An amor asteroid is a group of asteroids found...,The most famous member of this group is 433 Er...,The best known amor asteroid is 433 Eros.,", which",. It,"[75, 77]","[47, 50]","[68, 99]","[42, 51]",syntactic_sentence_splitting
129,Häggenås is a locality situated in Östersund M...,Häggenås is a locality in Östersund Municipali...,Häggenås is a locality situated in Östersund M...,Häggenås is a locality in Östersund Municipali...,,In 2010,"[11, 11]","[12, 15]","[0, 19]","[0, 21]",syntactic_sentence_splitting
130,"Atelopus, commonly known as harlequin frogs, i...","Atelopus, commonly known as harlequin frogs, i...","Atelopus, commonly known as harlequin frogs, i...","Atelopus, commonly known as harlequin frogs, i...",from,. They live in,"[15, 16]","[15, 20]","[0, 35]","[0, 24]",syntactic_sentence_splitting
131,Dalarö is a locality situated in Haninge Munic...,Dalarö is a locality in Haninge Municipality i...,It is situated south-east of Stockholm and is ...,It is situated southeast of Stockholm and is p...,and,. It,"[32, 33]","[34, 37]","[20, 42]","[22, 47]",syntactic_sentence_splitting
132,Sergio Augusto Magaña Martínez (2 December 194...,Sergio Augusto Magaña Martínez (2 December 194...,Sergio Augusto Magaña Martínez(2 December 1949...,Sergio Augusto Magaña Martínez(2 December 1949...,,. He was a member,"[16, 16]","[16, 22]","[0, 32]","[0, 36]",syntactic_sentence_splitting

In [8]:
# Get the indices of the sampled data
sampled_indices = sampled_df.index

# Drop the sampled data to get the remaining data
remaining_df = df.drop(sampled_indices)

remaining_df = remaining_df.reset_index(drop=True)

In [9]:
# Convert DataFrame to JSON Lines format and save to a file
sampled_df.to_json(f"./{repo}/pilot_study_{repo.lower()}.json", orient='records', lines=True)

remaining_df.to_json(f"./{repo}/remaining_{repo.lower()}.json", orient='records', lines=True)

In [10]:

for idx, n_samples in enumerate(n_sampels_pilot_study_list):
    # Sample n rows per 'domain' and 'label' combination with a random seed
    if group_by is not None:
        sampled_iter_df = sampled_df.groupby(group_by).apply(sample_data, n=n_samples, random_state=random_seed).reset_index(drop=True)
    else:
        sampled_iter_df = sampled_df.sample(n=n_samples, random_state=random_seed)

    sampled_iter_df.to_json(f"./{repo}/pilot_study_{repo.lower()}_iter{idx+1}.json", orient='records', lines=True)

    # Get the indices of the sampled data
    sampled_iter_indices = sampled_iter_df.index

    # Drop the sampled data to get the remaining data
    sampled_df = sampled_df.drop(sampled_iter_indices)
    # Reset the index
    sampled_df = sampled_df.reset_index(drop=True)

In [11]:
## dataset for comparing group

# Sample n rows per 'domain' and 'label' combination with a random seed
if group_by is not None:
    comparing_df = remaining_df.groupby(group_by).apply(sample_data, n=n_samples_comparing_group, random_state=random_seed).reset_index(drop=True)
else:
    comparing_df = remaining_df.sample(n=n_samples_comparing_group, random_state=random_seed).reset_index(drop=True)

comparing_df.to_json(f"./{repo}/comparing_group_{repo.lower()}.json", orient='records', lines=True)